

<div class="item-header" style="padding-top: 45px;">
    <button type="button" class="btn-default " style="margin:15px -316px">
        <a href="@Url.Action("DangNhap","Home")"> đăng nhập</a>
    </button>
</div>
<div class="item-header" style="padding-top: 45px;">
    <button type="button" class="btn-default " style="margin:15px -247px">
        <a href="~/Content/html/dangnhap.html">Đăng Ký</a>
    </button>
</div>