
<div class="col-6">


    @* tạo from submit về  action tìm kiếm *@
    @using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
    {



        <input type="text" name="sTuKhoa" class="form-control" placeholder="Nhập tên sản phẩm cần tìm..." style="margin-left: -64px;width:788px;">
        <input type="submit" value="Tìm kiếm " />



    }

</div>


