*{
    padding: 0px;
    margin: 0px;
}
*{
    box-sizing: border-box;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}

.col-12{
width: 100%;
}

[class*="col-"]{
    float: left;
    border: 1px ;
}
.row::after{  /*giả rỗng*/

    content: "";
    clear: both;
}
/**/
header{
    width: 100%;
    height: 60px;
    background-color: GRAY;    
}
.txt-panel{
    padding-left: 90px;
    padding-top: 5px;
    font-family: 'Franklin Gothic';
    font-size: 18px;
}
.div-left{
    background:rgb(247, 247, 247);
    border-right:1px solid hsl(0, 0%, 80%);
    height:100%;
}
#menu ul li{
    list-style:none;
}
#menu ul li a{
    text-decoration:none;
    background:#f3f3f3;
    display:block;
    font-size:17px;
    border-bottom:1px solid #ffffff;
    padding:10px;
    color:#3b3b3b;
}
#menu ul li ul li a{
    padding-left:50px;
    background:#ffffff;
    font-size:15px;
  
}
#menu ul li ul li a:hover{
    background:#f3f3f3;
}
.left-o{
    float:right;
    margin-right:5px;
}
#menu ul li ul {
    
    display: ;
}
 #menu > ul > li.active {
    border-bottom: none;
 }

 .size{

    text-transform: uppercase;
    color: darkcyan;
 }
 
 /*-----------------*/
 .search {
    float: right;
    margin: 12px 160px 50px 0;
}
.ql {
    font-family: Tahoma;
    font-size: 13px;
    margin: auto;
    /* margin-top: 10px; */
    color: black;
}
td{
    text-align: center;
}
.ql tr {
    text-align: center;
    line-height: 40px;
}

.ql th {
    background-color: cadetblue;
}
#myInput {
    
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 400px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 23px;
}
#bgaddRow {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    /*z-index: 99;*/
}
#addRow {
    position: relative;
    line-height: 1.5;
    font-size: 18px;
    width: 600px;
    left: 50%;
    top: 150px;
    margin-left: -300px;
    padding: 40px;
    box-shadow: 0 0 10px black;
    background: #e9e9e9;
    overflow: auto;
}
#addRow input {
    width: 450px;
    height: 25px;
}

#addRow i {
    position: absolute;
    top: 20px;
    right: 20px;
}

#EditTB
 {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    /*z-index: 99;*/
}
input.update {
    width: 45px;
    height: 30px;
    background: blueviolet;
    color: white;
}
input[type="text"]:focus {
    outline: none;
}

input.Del {
    width: 45px;
    height: 30px;
    background: rgb(231, 29, 29);
    color: white;
}




